.irs-bar {background: #ffcd00}

.irs-from {background: #ffcd00} 

.irs-to {background: #ffcd00}

.irs-single {background: #ffcd00}

.irs-bar {border-top: 1px solid black}

.irs-bar-edge {background: #ffcd00}

.irs-bar-edge {border: 1px solid black}

.irs-single {background: #ffcd00}

.selectize-input {background: #ffcd00}

.selectize-dropdown {background: #ffcd00}

.modal-header {background: #ffcd00}

.btn {background-color: #ffcd00}

.box.box-solid.box-primary>.box-header {
                    color:#000000;
                    background: #ffcd00
                    }
                    
.box.box-solid.box-primary{
                    border-bottom-color:#000000;
                    border-left-color:#000000;
                    border-right-color:#000000;
                    border-top-color:#000000;
                    }

.navbar-nav li a:hover, .navbar-nav > .active > a {
                    color: black;   
                    background-color: #ffcd00}

.skin-black .main-header .logo {
             background-color: #ffcd00};
             }
.skin-black .main-header .logo:hover {
             background-color: #ffcd00};
             }

.skin-black .main-sidebar .sidebar .sidebar-menu .active a{
             background-color: #ffcd00;
             }
             
.skin-black .main-header .navbar {
             background-color: #ffcd00;
             }
             
.skin-black .main-header .navbar .sidebar-toggle:hover{
             background-color: #ffcd00;
             }
             
.skin-black .main-sidebar .sidebar .sidebar-menu a:hover{
             background-color:# ffcd00;
             }

.skin-black .main-sidebar .sidebar .sidebar-menu a{
             background-color: #ffcd00;
             color: #000000;
             }
             
.skin-black .main-sidebar .sidebar .sidebar-menu .active a{
             background-color: #000000;
             color: #FFFFFF;
             }
             
 .skin-black .main-sidebar {color: #000000; background-color: #ffcd00;}
             